.container.mt-3
  %h2
    User Activity
    .badge.bg-purple
      = @activities.count
  %p.mb-4

.container
  .table-responsive-md
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th{:scope => "col"} id
          %th{:scope => "col"} Type
          %th{:scope => "col"} Course id
          %th{:scope => "col"} Course Link
          %th{:scope => "col"} Activity
          %th{:scope => "col"} Parameters
          %th{:scope => "col"} Owner
      %tbody
        - @activities.each do |activity|
          %tr
            %th{:scope => "row"}= activity.id
            %td= activity.trackable_type
            %td= activity.trackable_id
            %td= link_to activity.trackable, activity.trackable
            %td= activity.key 
            - if activity.parameters == '{}'
              %td= activity.parameters
            - else
              %td= 'None'
            %td= activity.owner