
.container-fluid
  .p-5.text-dark.bg-light.rounded-3.hero_cont.w-100
    .row.justify-content-center.align-content-center.w-md-75
      .col-11.visible
        %h1.display-5.fw-bold.text-white.mt-5.w-100.w-md-75 Learn music in your own time
        .form-inline.w-100
          = form_tag(courses_path, method: :get) do
            .input-group
              %button.btn.btn-outline-light.btn-lg{:type => "submit"}
                %i.fas.fa-search{"aria-hidden" => "true"}
              = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search for courses..", class: 'form-control'

.card-group.container.mt-3
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

.container
  %hr.my-4
    %h2
      Popular courses
    .slider_cont
      - @courses.each do |course|
        .col-12.my-3.col-md-4.slider_item
          = render 'courses/course', course: course

.container
  %hr.my-4
    %h2
      Top rated courses
    .slider_cont_2
      - @courses.each do |course|
        .col-12.my-3.col-md-4.slider_item
          = render 'courses/course', course: course

.container
  %hr.my-4
    %h2
      Latest courses
    .slider_cont_3
      - @latest_courses.each do |course|
        .col-12.my-3.col-md-4.slider_item
          = render 'courses/course', course: course

  %hr