.card.h-100.p-0.border.border-dark.rounded-0
  .card-header
    .card-title
      = link_to lesson.title, course_lesson_path(@course, lesson), class: 'card-link text-decoration-none text-black fw-bold'
      - if policy(lesson).destroy?
        = link_to '', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'fas fa-times text-white btn-outline-danger ms-3 text-decoration-none btn btn-sm bg-purple border-0'
  - if policy(lesson).show?
    .card-body
      = lesson.content
  .card-footer
    .row
    .fa.fa-chalkboard-teacher.mb-3
    = lesson.course.user.username
    - if policy(lesson).edit?
      %div
      = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-outline-secondary'