.card.p-0.h-100
  .card-header.justify-content-evenly.d-inline-flex
    .card-title
      .fa.fa-book
      = link_to course.title, course_path(course), class: 'card-link text-decoration-none text-black fw-bold'
      = link_to '', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fas fa-times text-muted ms-3 text-decoration-none'
  .card-body
    = course.description
  .card-footer
    .far.fa-clock
    = course.created_at.strftime('%d-%b-%Y')
    .row
    .fa.fa-chalkboard-teacher
    = course.user
  .card-footer
    - unless current_page?(course)
      = link_to 'Show', course, class: 'btn btn-sm btn-outline-secondary'
    = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-outline-secondary'