%nav.navbar.visible.navbar-expand-md.navbar-light.bg-light.visible.border-bottom.border-1.w-100.justify-content-between.p-3
  .container-fluid.p-md-1.d-inline-flex.w-100.justify-content-between.mx-2
    - if current_user
      %button.navbar-toggler.bg-purple.text-white{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.fas.fa-bars
    = link_to root_path, class: "navbar-brand" do
      %h4.fw-bold.d-md-inline-block.d-none
        edfu
      = image_tag 'temple.png', alt: "logo", class: 'logo_img d-md-none'
    - if current_user
      %ul.navbar-nav.me-1.d-none.d-md-block
        = link_to courses_path, class: "nav-link #{'active fw-bold' if current_page?(courses_path)}" do
          .fas.fa-graduation-cap
          Courses

    -# Navbar Search Section 
    %ul.navbar-nav.d-none.d-md-block.w-md-50.rounded-heavy
      - if current_user
        = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
          .form-inline.d-flex.rounded-heavy.bg-light.border.border-1.border-dark
            %button.btn.btn-outline-dark.btn-cta.btn-sm.me-1{:type => "submit", class: 'form-control form-control-md border-0 rounded-end-0'}
              %i.fas.fa-search{"aria-hidden" => "true"}
            = f.search_field :title_cont, placeholder: 'Search for anything', class: 'form-control form-control-md border-0 rounded-heavy bg-transparent'
      
    - if current_user
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav.my-md-0.my-1
          %ul.navbar-nav.my-md-0.my-1.d-block.d-md-none
            = link_to courses_path, class: "nav-link #{'active fw-bold' if current_page?(courses_path)}" do
              .fas.fa-graduation-cap
              Courses
          - if current_user.has_role?(:teacher) || current_user.has_role?(:admin)
            %ul.navbar-nav.my-md-0.my-1
              = link_to new_course_path, class: "nav-link #{'active fw-bold' if current_page?(new_course_path)}" do
                .fas.fa-plus
                New Course
          - if current_user.has_role?(:admin)
            %ul.navbar-nav.my-md-0.my-1
              = link_to users_path, class: "nav-link #{'active fw-bold' if current_page?(users_path)}" do
                .fas.fa-users
                Users
          %ul.navbar-nav.my-md-0.my-1
            = link_to enrollments_path, class: "nav-link #{'active fw-bold' if current_page?(enrollments_path)}" do
              .fas.fa-lock-open
              Enrollments
            %ul.navbar-nav.my-md-0.my-1
              = link_to home_activity_path, class: "nav-link #{'active fw-bold' if current_page?(home_activity_path)}" do
                .fas.fa-bell
                Activity

          .btn-group
            .btn-group.dropstart{role: "group"}
              %button.d-none.d-md-block.btn.btn-clear.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button", type: "button"}
                -# %span.visually-hidden Toggle Dropstart
              %ul.dropdown-menu
                = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                  .fa.fa-sign-out-alt
                  %b Sign out
            %button.btn.d-none.d-md-block{type: "button"}
              = link_to edit_user_registration_path do
                .fa.fa-user.p-1
          %li.nav-item.dropdown.visible-2.d-md-none
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-user
              -# %b= current_user.email
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              = link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do
                .fa.fa-cog
                %b Account settings
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                .fa.fa-sign-out-alt
                %b Sign out
    - else
      %ul.navbar-nav.d-flex.justify-content-between
        %li.nav-item.me-4= link_to 'Sign Up', new_user_registration_path, class: 'text-muted'
        %li.nav-item= link_to 'Log In', new_user_session_path, class: 'text-muted'

-# Sub Navbar
.w-100.d-lg-block.d-none.shadow-sm.bg-light.visible
  - if current_user
    %ul.nav.justify-content-center
      %li.nav-item.p-1
        = link_to "Psychology", courses_path(courses_search: {title_cont: "Psychology"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Psychology"))}"
      %li.nav-item.p-1
        = link_to "Criminology", courses_path(courses_search: {title_cont: "Criminology"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Criminology"))}"
      %li.nav-item.p-1
        = link_to "Arts", courses_path(courses_search: {title_cont: "Arts"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Arts"))}"
      %li.nav-item.p-1
        = link_to "Forensic Science", courses_path(courses_search: {title_cont: "Forensic Science"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Forensic Science"))}"
      %li.nav-item.p-1
        = link_to "Engineering", courses_path(courses_search: {title_cont: "Engineering"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Engineering"))}"
      %li.nav-item.p-1
        = link_to "Computer Science", courses_path(courses_search: {title_cont: "Computer Science"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Computer Science"))}"
      %li.nav-item.p-1
        = link_to "Teaching", courses_path(courses_search: {title_cont: "Teaching"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Teaching"))}"
      %li.nav-item.p-1
        = link_to "Medicine", courses_path(courses_search: {title_cont: "Medicine"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Medicine"))}"