%nav.navbar.navbar-expand-lg.navbar-light.bg-light.visible.border-bottom
  .container.p-md-1.d-inline-flex.w-100
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href => "/"}
      %i.fas.fa-flag
      Edfu
    - if current_user
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.my-md-0.my-1.justify-content-center
          = link_to root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" do
            .fa.fa-home
            Home
          %ul.navbar-nav.my-md-0.my-1
            = link_to courses_path, class: "nav-link #{'active fw-bold' if current_page?(courses_path)}" do
              .fas.fa-graduation-cap
              Courses
          %ul.navbar-nav.my-md-0.my-1
            = link_to users_path, class: "nav-link #{'active fw-bold' if current_page?(users_path)}" do
              .fas.fa-users
              Users
          %ul.navbar-nav.my-md-0.my-1
            = link_to new_course_path, class: "nav-link #{'active fw-bold' if current_page?(new_course_path)}" do
              .fas.fa-plus
              New Course
        %ul.navbar-nav.d-flex.justify-content-center
          - if current_user
            = search_form_for @q do |f|
              .form-inline.d-flex
                = f.search_field :title_cont, placeholder: 'Search', class: 'form-control form-control-sm border-end-0'
                %button.btn.btn-outline-dark{:type => "submit", class: 'form-control form-control-sm w-25'}
                  %i.fas.fa-search{"aria-hidden" => "true"}
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-user
                -# %b= current_user.email
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                = link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do
                  .fa.fa-cog
                  %b Account settings
                = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                  .fa.fa-sign-out-alt
                  %b Sign out
    - else
      %ul.navbar-nav
        %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'text-muted'
      %ul.navbar-nav
        %li.nav-item= link_to 'Log In', new_user_session_path, class: 'text-muted'

.w-100.shadow.d-md-block.d-none
  - if current_user
    %ul.nav.justify-content-center
      %li.nav-item.p-2
        = link_to "Psychology", courses_path(q: {title_cont: "Psychology"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Psychology"))}"
      %li.nav-item.p-2
        = link_to "Criminology", courses_path(q: {title_cont: "Criminology"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Criminology"))}"
      %li.nav-item.p-2
        = link_to "Arts", courses_path(q: {title_cont: "Arts"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Arts"))}"
      %li.nav-item.p-2
        = link_to "Forensic Science", courses_path(q: {title_cont: "Forensic Science"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Forensic Science"))}"
      %li.nav-item.p-2
        = link_to "Engineering", courses_path(q: {title_cont: "Engineering"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Engineering"))}"
      %li.nav-item.p-2
        = link_to "Computer Science", courses_path(q: {title_cont: "Computer Science"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Computer Science"))}"
      %li.nav-item.p-2
        = link_to "Teaching", courses_path(q: {title_cont: "Teaching"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Teaching"))}"
      %li.nav-item.p-2
        = link_to "Medicine", courses_path(q: {title_cont: "Medicine"}), class: "nav-link text-black small #{'active fw-bold' if current_page?(courses_path(:title => "Medicine"))}"