%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container.p-1.d-inline-flex
    %a.navbar-brand{:href => "/"}
      %i.fas.fa-flag
      Edfu
    - if current_user
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %i.fas.fa-grip-lines-vertical.d-none.d-md-block
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.my-md-0.my-1.mx-md-2
          = link_to root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" do
            .fa.fa-home
            Home
          %ul.navbar-nav.me-auto.my-md-0.my-1
            = link_to courses_path, class: "nav-link #{'active fw-bold' if current_page?(courses_path)}" do
              .fas.fa-book-open
              Courses
          %ul.navbar-nav.me-auto.my-md-0.my-1
            = link_to users_path, class: "nav-link #{'active fw-bold' if current_page?(users_path)}" do
              .fas.fa-users
              Users
          %ul.navbar-nav.me-auto.my-md-0.my-1
            = link_to new_course_path, class: "nav-link #{'active fw-bold' if current_page?(new_course_path)}" do
              .fas.fa-plus
              New Course
        %ul.navbar-nav.ms-auto.me-5.d-flex
          - if current_user
            .form-inline.d-flex
              = form_tag(courses_path, method: :get) do
                .input-group
                  = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search for courses..", class: 'form-control'
                  %button.btn.btn-success.btn-sm{:type => "submit"}
                    %i.fas.fa-search{"aria-hidden" => "true"}
            %li.nav-item.dropdown.mx-md-3
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-user
                -# %b= current_user.email
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                = link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do
                  .fa.fa-cog
                  %b Account settings
                = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                  .fa.fa-sign-out-alt
                  %b Sign out
    - else
      %ul.navbar-nav
        %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
        %li.nav-item= link_to 'Log In', new_user_session_path, class: 'nav-link'